# Ignore node_modules
node_modules
Dockerfile

# Ignore local environment files
.env
.env.local

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore database data if any local backups exist
*.db

# Ignore IDE or editor files
.vscode
.idea

# Ignore miscellaneous
.DS_Store
